@import "tailwindcss";

/* Custom Fonts */
:root {
  --font-sans: Arial, Helvetica, sans-serif;
  --font-mono: Courier, monospace;
}

/* Color Theme */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Apply Colors */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}

/* Gradient Sidebar */
.sidebar {
  background: linear-gradient(to bottom right, #3192A5 0%, #296485 100%);
}

/* Chat Background */
.chat-container {
  background-color: rgba(172, 241, 255, 0.5); /* Matches 50% opacity */
}
